<mat-list>
  <mat-list-item>
    <span class="font-bold">Code:</span>
    {{data.code}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">Date:</span>
    {{data.date}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">Start Time:</span>
    {{data.startTime | date:"medium"}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">End Time:</span>
    {{data.endTime | date:"medium"}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">Number of participants:</span>
    {{data.numberOfParticipants}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">Number of participants:</span>
    {{data.numberOfParticipants}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="font-bold">Amount:</span>
    {{data.amount}}
  </mat-list-item>
</mat-list>
