<mat-list>
  <p class="w-full text-center font-bold text-[20px]">Competition Ranking</p>
  <div *ngFor="let rank of data">
    <mat-list-item>
      <div class="flex gap-3">
        <div>
          <span class="font-bold">Rank:</span>
          {{rank.rank}}
        </div>
        <div>
          <span class="font-bold">Full name:</span>
          {{rank.member.familyName}} {{rank.member.name}}
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
