<h1 mat-dialog-title>Create Member</h1>
<div mat-dialog-content>
  <form class="flex flex-col justify-start items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full">
      <mat-label>Number Of Fish</mat-label>
      <input matInput type="number" formControlName="numberOfFish">
    </mat-form-field>
    <!-- fish -->
    <mat-form-field class="w-full">
      <mat-label>Fish</mat-label>
      <mat-select formControlName="fish_name">
        <mat-option *ngFor="let fish of fishes" [value]="fish.name">{{fish.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- member -->
    <mat-form-field class="w-full">
      <mat-label>Member</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Member name"
           matInput
           formControlName="memberControl"
          >
          <mat-form-field *ngIf="selectedMembers.length" class="w-full">
            <mat-select formControlName="member_num">
              <mat-option *ngFor="let member of selectedMembers" [value]="member.num">
                {{member.familyName}} {{member.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>close</button>
      <button mat-raised-button cdkFocusInitial color="primary">Create</button>
    </div>
  </form>
</div>
