<h1 mat-dialog-title>Associate Member</h1>
<div mat-dialog-content>
  <form class="flex flex-col justify-start items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Fish number</mat-label>
      <input matInput type='number' formControlName="numberOfFish" value="{{form.controls['numberOfFish'].value}}"/>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>close</button>
      <button mat-raised-button cdkFocusInitial color="warn">update</button>
    </div>
  </form>
</div>
