<mat-toolbar color="primary" class="flex justify-between items-center">
  <span>Aftas</span>
  <button mat-mini-fab color="warn" (click)="toggleCreate()">+</button>
</mat-toolbar>
<div class="flex flex-col justify-center items-start p-10">
  <mat-tab-group class="w-full">
    <mat-tab label="all competitions">
      <app-competitions-com [competitionType]="all"></app-competitions-com>
    </mat-tab>
    <mat-tab label="on going competitions">
      <app-competitions-com [competitionType]="going"></app-competitions-com>
    </mat-tab>
    <mat-tab label="Future competitions">
      <app-competitions-com [competitionType]="after"></app-competitions-com>
    </mat-tab>
    <mat-tab label="Closed competitions">
      <app-competitions-com [competitionType]="before"></app-competitions-com>
    </mat-tab>
  </mat-tab-group>
</div>
