<h1 mat-dialog-title>Associate Member</h1>
<div mat-dialog-content>
  <form class="flex flex-col justify-start items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Member</mat-label>
      <mat-select formControlName="memberNum">
        <mat-option *ngFor="let member of members" [value]="member.num">
          {{member.familyName}} {{member.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>close</button>
      <button mat-raised-button cdkFocusInitial color="primary">Create</button>
    </div>
  </form>
</div>
