<h1 mat-dialog-title>Create Competitons</h1>
<div mat-dialog-content>
  <form class="flex flex-col justify-start items-center" [formGroup]="formDialog" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full">
      <mat-label>Date</mat-label>
      <input matInput type="date" formControlName="date">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Start Time</mat-label>
      <input matInput type="datetime-local" formControlName="startTime">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>End Time</mat-label>
      <input matInput type="datetime-local" formControlName="endTime">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Number Of Participants</mat-label>
      <input matInput type="number" formControlName="numberOfParticipants">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location">
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>close</button>
      <button mat-raised-button cdkFocusInitial color="primary">Create</button>
    </div>
  </form>
</div>
